{% extends "menu.html" %}
{% block content %}
<script>
$(document).ready(function() {
    $('#empTable').DataTable();
} );
    </script>
<div class="employees">
    <h1>Employee Management</h1>
</div>
<form>
    <div class="form-row">
        <div class="col mb-3">
            <label for="validationDefault01">First name</label>
            <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
        </div>
        <div class="col mb-3">
            <label for="validationDefault02">Last name</label>
            <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
        </div>
    </div>
    <button class="btn btn-success" type="submit">Add employee</button>

</form>
<table id="empTable" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">&nbsp;&nbsp;&nbsp;Employee id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123456</th>
            <td>Aaron</td>
            <td>Aaronson</td>
            <td class="rowBtn"><button class="btn btn-primary" type="submit">Edit</button></td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123457</th>
            <td>Nester </td>
            <td>Coin</td>
            <td class="rowBtn"><button class="btn btn-primary" type="submit">Edit</button></td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123458</th>
            <td>Della</td>
            <td>Narn</td>
            <td class="rowBtn"><button class="btn btn-primary" type="submit">Edit</button></td>
        </tr>
    </tbody>
</table>

<td><button class="btn btn-danger" type="submit">Delete selected</button></td>

{% endblock %}