{% extends "menu.html" %}
{% block content %}
<div class="orders">
    <h1>Order Management Page</h1>
</div>
<form>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationDefault01">Order id</label>
            <input type="number" class="form-control" id="validationDefault01" value="123456" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault02">Customer id</label>
            <input type="number" class="form-control" id="validationDefault02" value="123456" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault01">Employee id</label>
            <input type="number" class="form-control" id="validationDefault01" value="123456" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault01">Date</label>
            <input type="date" class="form-control" id="validationDefault01" value="2020-02-10" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationDefault03">Total</label>
            <input type="number" class="form-control" id="validationDefault03" value="120.98" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault04">Credit card number</label>
            <input type="number" class="form-control" id="validationDefault04" value="1111222233334444" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault04">Expiration date</label>
            <input type="date" class="form-control" id="validationDefault04" value="2023-03-01" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault04">Credit card code</label>
            <input type="number" class="form-control" id="validationDefault04" value="123" required>
        </div>
    </div>
    <button class="btn btn-success" type="submit">Add order</button>
    <button class="btn btn-primary" type="submit">Edit order</button>
    <button class="btn btn-danger" type="submit">Delete order</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">&nbsp;&nbsp;&nbsp;Order id</th>
            <th scope="col">Customer id</th>
            <th scope="col">Employee id</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Credit card number</th>
            <th scope="col">Expiration date</th>
            <th scope="col">Credit card code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123456</th>
            <td>123456</td>
            <td>111222</td>
            <td>2020-02-09</td>
            <td>120.98</td>
            <td>1111222233334444</td>
            <td>2022-02-01</td>
            <td>123</td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123457</th>
            <td>123457</td>
            <td>111223</td>
            <td>2020-02-10</td>
            <td>129.98</td>
            <td>1111222233334445</td>
            <td>2022-03-01</td>
            <td>124</td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123458</th>
            <td>123458</td>
            <td>111224</td>
            <td>2020-02-11</td>
            <td>130.98</td>
            <td>1111222233334446</td>
            <td>2022-04-01</td>
            <td>125</td>
        </tr>
    </tbody>
</table>

{% endblock %}