{% extends "menu.html" %}
{% block content %}
<div class="orders">
    <h1>Order Management Page</h1>
</div>
<form>
    <div class="form-row">
        <div class="col">
            <label for="empSelect">Employee</label>
            <select class="form-control" id="empSelect" required>
                <option>Mark Otto</option>
                <option>Jacob Thorntonanderson</option>
                <option>Larry Bird</option>
            </select>
        </div>
        <div class="col">
            <label for="validationDefault01">Date</label>
            <input type="date" class="form-control" id="exampleFormControlSelect1" value="2020-02-10" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="validationDefault04">Credit card number</label>
            <input type="number" class="form-control" id="validationDefault04" value="1111222233334444" required>
        </div>
        <div class="col">
            <label for="validationDefault04">Expiration date</label>
            <input type="date" class="form-control" id="validationDefault04" value="2023-03-01" required>
        </div>
        <div class="col">
            <label for="validationDefault04">Credit card code</label>
            <input type="number" class="form-control" id="validationDefault04" value="123" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="input-group">Items</label>
            <div class="input-group">
                <select class="form-control" id="itemSelect">
                    <option>Risk, 29.99</option>
                    <option>Scrabble, 25.99</option>
                    <option>ticket to Ride Europe, 59.99</option>
                </select>
                <input type="number" class="form-control">
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Add order</button>

</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">&nbsp;&nbsp;&nbsp;Order id</th>
            <th scope="col">Customer id</th>
            <th scope="col">Employee id</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Credit card number</th>
            <th scope="col">Expiration date</th>
            <th scope="col">Credit card code</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123456</th>
            <td>123456</td>
            <td>111222</td>
            <td>2020-02-09</td>
            <td>120.98</td>
            <td>1111222233334444</td>
            <td>2022-02-01</td>
            <td>123</td>
            <td class="rowBtn"><button class="btn btn-primary" type="submit">Edit</button></td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123457</th>
            <td>123457</td>
            <td>111223</td>
            <td>2020-02-10</td>
            <td>129.98</td>
            <td>1111222233334445</td>
            <td>2022-03-01</td>
            <td>124</td>
            <td class="rowBtn"><button class="btn btn-primary" type="submit">Edit</button></td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" aria-label="textbox for row">  123458</th>
            <td>123458</td>
            <td>111224</td>
            <td>2020-02-11</td>
            <td>130.98</td>
            <td>1111222233334446</td>
            <td>2022-04-01</td>
            <td>125</td>
            <td class="rowBtn"><button class="btn btn-primary" type="submit">Edit</button></td>
        </tr>
    </tbody>
</table>

<td><button class="btn btn-danger" type="submit">Delete selected</button></td>

{% endblock %}